<a href="https://colab.research.google.com/github/jeanzinho509/Analise_de_dados/blob/main/Segundo_exemplo_em_Python_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Segundo exemplo de manipulação de dados usando Python Pandas**

Veremos inserção de dados, remoção de colunas, merge, gráficos

Auto: Jean Woodly Estime

Data: 9 e 10 de fevereiro de 2023

In [2]:
#Importando biblioteca pandas no Python
import pandas as pd

In [4]:
combustiveis_df = pd.read_excel("ca202102.xlsx")
display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [5]:
#Inserção simples de dado
combustiveis_df['Ativo'] = True

display(combustiveis_df.head())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA,True
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA,True
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA,True
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA,True
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA,True

In [8]:
from numpy.lib.function_base import disp
# Criar uma coluna "Obs" que tenha nela escrito "MELHOR CIDADE" quando a coluna Municipio for igual a RIO DE JANEIRO
combustiveis_df['Obs'] = ["MELHOR CIDADE" if municipio == 'RIO DE JANEIRO' else '' for municipio in combustiveis_df['Municipio']]
display(combustiveis_df.loc[combustiveis_df['Municipio'].isin(['RIO DE JANEIRO','NITEROI', 'ANGRA DOS REIS', 'SAQUAREMA']), ['Municipio', 'Obs']])

             Municipio            Obs
738     ANGRA DOS REIS
739     ANGRA DOS REIS
740     ANGRA DOS REIS
741     ANGRA DOS REIS
742     ANGRA DOS REIS
...                ...            ...
161886       SAQUAREMA
161972  RIO DE JANEIRO  MELHOR CIDADE
161973  RIO DE JANEIRO  MELHOR CIDADE
161974  RIO DE JANEIRO  MELHOR CIDADE
161975  RIO DE JANEIRO  MELHOR CIDADE

[3690 rows x 2 columns]

In [11]:
#como preencher uma coluna 'Valor de Venda - Status' que verifica o seguinte :
# Se o valor de venda for maior que 6,5 reais, ele fala que ta Caro.. caso contrario, está barato
import numpy as np

combustiveis_df['Status do Valor de Venda'] = np.where(combustiveis_df['Valor de Venda'] > 6.5, 'Caro', 'Barato')
display(combustiveis_df[['Revenda', 'Valor de Venda', 'Status do Valor de Venda']])

,Revenda,Valor de Venda,Status do Valor de Venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro

In [26]:
#Calcular postos por habitante temos na mostragem de combustiveis nov/2021

habitantes_city_df = pd.read_csv("ibge_num_habitantes_estimado.csv", sep=";")
habitantes_city_df.rename(columns={"Estado":"Estado - Sigla"}, inplace=True)
display(habitantes_city_df)

         Municipio Estado - Sigla  NumHabitantes2021
0   BELO HORIZONTE             MG            2530701
1         CAMPINAS             SP            1223237
2     CAMPO GRANDE             MS             916001
3         CURITIBA             PR            1963726
4          GOIANIA             GO            1555626
5       INDAIATUBA             SP             260690
6            NATAL             RN             803739
7           PALMAS             TO             313349
8        PENAPOLIS             SP              64098
9     PORTO ALEGRE             RS            1492530
10     PORTO VELHO             RO             548952
11      RIO BRANCO             AC             419452
12  RIO DE JANEIRO             RJ            6775561
13    SALTO GRANDE             SP               9396
14          SANTOS             SP             433991
15       SAO PAULO             SP           12396372
16     SAO VICENTE             SP             370839
17     SERRA NEGRA             SP              29669

In [31]:
#Fazer um MERGE dos dois dataframes
colunas = ['Municipio', 'Estado - Sigla']
merge_df = combustiveis_df.merge(habitantes_city_df, how="inner", on=colunas)
display(merge_df)
print(merge_df.info())

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,Status do Valor de Venda,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,5,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,"Caro, Barato",Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,5,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,5,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,"Caro, Barato",Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20629,SE,SP,INDAIATUBA,POSTO DOS ESTEVES LTDA,20.763.169/0001-00,AVENIDA ITORORO,160,NaN,CENTRO,13330-055,...,2021-12-28,6.499,NaN,R$ / litro,IPIRANGA,True,,5,Barato,260690
20630,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,5.499,NaN,R$ / litro,RAIZEN,True,,"Caro, Barato",Barato,260690
20631,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,6.699,NaN,R$ / litro,RAIZEN,True,,5,Caro,260690
20632,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,4.899,NaN,R$ / litro,RAIZEN,True,,"Caro, Barato",Barato,260690
20633,SE,SP,INDAIATUBA,ABDELNOR VI COMERCIO DE COMBUSTIVEIS LTDA,30.253.289/0001-11,AVENIDA PRESIDENTE KENNEDY,496,NaN,CIDADE NOVA I,13334-170,...,2021-12-28,6.299,NaN,R$ / litro,RAIZEN,True,,5,Barato,260690

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Complemento               3837 non-null   object
 8   Bairro                    20634 non-null  object
 9   Cep                       20634 non-null  object
 10  Produto                   20634 non-null  object
 11  Data da Coleta            20634 non-null  datetime64[ns]
 12  Valor de Venda            20634 non-null  float64
 13  Valor de Compra           0 non-null      float64
 14  Unidade de Medida         20634 non-null  object
 15  Bandeira                  20634 non-null  object
 16  Ativo                     20634 non-null  bool
 17  Obs                       20634 non-null  object
 18  Valor de Venda - Status   20634 non-null  object
 19  Status do Valor de Venda  20634 non-null  object
 20  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(2), int64(1), object(16)
memory usage: 3.3+ MB
None

In [36]:
#Destruir coluna completamente vazia (todas as linhas são nulas)
merge_df.dropna(axis='columns', inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Regiao - Sigla            20634 non-null  object
 1   Estado - Sigla            20634 non-null  object
 2   Municipio                 20634 non-null  object
 3   Revenda                   20634 non-null  object
 4   CNPJ da Revenda           20634 non-null  object
 5   Nome da Rua               20634 non-null  object
 6   Numero Rua                20634 non-null  object
 7   Bairro                    20634 non-null  object
 8   Cep                       20634 non-null  object
 9   Produto                   20634 non-null  object
 10  Data da Coleta            20634 non-null  datetime64[ns]
 11  Valor de Venda            20634 non-null  float64
 12  Unidade de Medida         20634 non-null  object
 13  Bandeira                  20634 non-null  object
 14  Ativo                     20634 non-null  bool
 15  Obs                       20634 non-null  object
 16  Valor de Venda - Status   20634 non-null  object
 17  Status do Valor de Venda  20634 non-null  object
 18  NumHabitantes2021         20634 non-null  int64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1), object(15)
memory usage: 3.5+ MB
None

In [37]:
colunas=['Regiao - Sigla', 'Nome da Rua', 'Numero Rua', 
         'Bairro', 'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda',
         'Unidade de Medida', 'Bandeira', 'Ativo', 'Status do Valor de Venda']
merge_df.drop(labels=colunas, axis=1, inplace=True)
print(merge_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20634 entries, 0 to 20633
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Estado - Sigla           20634 non-null  object
 1   Municipio                20634 non-null  object
 2   Revenda                  20634 non-null  object
 3   CNPJ da Revenda          20634 non-null  object
 4   Obs                      20634 non-null  object
 5   Valor de Venda - Status  20634 non-null  object
 6   NumHabitantes2021        20634 non-null  int64
dtypes: int64(1), object(6)
memory usage: 1.8+ MB
None

In [38]:
display(merg_df.head(100))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,...,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira,Ativo,Obs,Valor de Venda - Status,Status do Valor de Venda,NumHabitantes2021
0,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,6.999,NaN,R$ / litro,RAIZEN,True,,5,Caro,1555626
1,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,4.990,NaN,R$ / litro,RAIZEN,True,,"Caro, Barato",Barato,1555626
2,CO,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,AVENIDA VEREADOR JOSE MONTEIRO,1854,QUADRA08 LOTE 11E,SETOR NEGRAO DE LIMA,74650-300,...,2021-11-01,7.130,NaN,R$ / litro,RAIZEN,True,,5,Caro,1555626
3,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,6.990,NaN,R$ / litro,BRANCA,True,,5,Caro,1555626
4,CO,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,AVENIDA INDEPENDENCIA,2.908,NaN,VILA NOVA,74645-010,...,2021-11-01,4.990,NaN,R$ / litro,BRANCA,True,,"Caro, Barato",Barato,1555626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,ESQUINA C/ AVENIDA T-15,NOVA SUIÇA,74280-235,...,2021-11-04,7.270,NaN,R$ / litro,BRANCA,True,,5,Caro,1555626
96,CO,GO,GOIANIA,AUTO POSTO DONA SANTA LTDA.,08.232.672/0001-34,AVENIDA T 63,1295,ESQUINA C/ AVENIDA T-15,NOVA SUIÇA,74280-235,...,2021-11-04,5.570,NaN,R$ / litro,BRANCA,True,,"Caro, Barato",Barato,1555626
97,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,QD.219 LT.03,JARDIM AMERICA,74255-470,...,2021-11-04,5.150,NaN,R$ / litro,BRANCA,True,,"Caro, Barato",Barato,1555626
98,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,QD.219 LT.03,JARDIM AMERICA,74255-470,...,2021-11-04,7.190,NaN,R$ / litro,BRANCA,True,,5,Caro,1555626
99,CO,GO,GOIANIA,AUTO POSTO ANTENA 104 EIRELI,05.634.368/0001-25,RUA C 125,356,QD.219 LT.03,JARDIM AMERICA,74255-470,...,2021-11-04,5.990,NaN,R$ / litro,BRANCA,True,,"Caro, Barato",Barato,1555626

In [39]:
#Remoer as linhas duplicadas
merge_df.drop_duplicates(inplace=True)
display(merge_df.head(100))

,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Obs,Valor de Venda - Status,NumHabitantes2021
0,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,5,1555626
1,GO,GOIANIA,AERO SETE AUTO POSTO LTDA,37.831.484/0001-20,,"Caro, Barato",1555626
3,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,,5,1555626
4,GO,GOIANIA,POSTO DO BOI LTDA,06.880.293/0001-25,,"Caro, Barato",1555626
7,GO,GOIANIA,POSTO DN LTDA,05.413.136/0001-47,,5,1555626
...,...,...,...,...,...,...,...
182,GO,GOIANIA,AUTO POSTO LIDER LTDA,15.225.748/0001-60,,5,1555626
185,GO,GOIANIA,ALL ' FORTE AUTO POSTO LTDA,20.173.970/0001-04,,"Caro, Barato",1555626
186,GO,GOIANIA,ALL ' FORTE AUTO POSTO LTDA,20.173.970/0001-04,,5,1555626
188,GO,GOIANIA,MARQUES DE CASTRO & GABRIEL LTDA,04.397.008/0002-75,,5,1555626
189,GO,GOIANIA,MARQUES DE CASTRO & GABRIEL LTDA,04.397.008/0002-75,,"Caro, Barato",1555626

In [48]:
#Agrupar e contar quantos postos tem na cidade.
postos_por_munip_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_munip_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_munip_df.rename(columns={"Revenda": "Número de Postos"}, inplace=True)
display(postos_por_munip_df)

                                                 Número de Postos  Obs  \
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                           68   68
GO             GOIANIA        1555626                         186  186
MG             BELO HORIZONTE 2530701                         108  108
MS             CAMPO GRANDE   916001                          208  208
PR             CURITIBA       1963726                         219  219
RJ             RIO DE JANEIRO 6775561                         749  749
RN             NATAL          803739                           74   74
RO             PORTO VELHO    548952                           74   74
RS             PORTO ALEGRE   1492530                         131  131
SP             CAMPINAS       1223237                         102  102
               INDAIATUBA     260690                           71   71
               SANTOS         433991                           72   72
               SAO PAULO      12396372                        841  841
               SAO VICENTE    370839                           40   40
TO             PALMAS         313349                           52   52

                                                 Valor de Venda - Status
Estado - Sigla Municipio      NumHabitantes2021
AC             RIO BRANCO     419452                                  68
GO             GOIANIA        1555626                                186
MG             BELO HORIZONTE 2530701                                108
MS             CAMPO GRANDE   916001                                 208
PR             CURITIBA       1963726                                219
RJ             RIO DE JANEIRO 6775561                                749
RN             NATAL          803739                                  74
RO             PORTO VELHO    548952                                  74
RS             PORTO ALEGRE   1492530                                131
SP             CAMPINAS       1223237                                102
               INDAIATUBA     260690                                  71
               SANTOS         433991                                  72
               SAO PAULO      12396372                               841
               SAO VICENTE    370839                                  40
TO             PALMAS         313349                                  52

In [50]:
#Agrupar e contar quantos postos tem na cidade
postos_por_munip_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_munip_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_munip_df.rename(columns={'Revenda': 'Numero de Postos'}, inplace=True)
postos_por_munip_df.reset_index(inplace=True)
display(postos_por_munip_df)

,Estado - Sigla,Municipio,NumHabitantes2021,Numero de Postos,Obs,Valor de Venda - Status
0,AC,RIO BRANCO,419452,68,68,68
1,GO,GOIANIA,1555626,186,186,186
2,MG,BELO HORIZONTE,2530701,108,108,108
3,MS,CAMPO GRANDE,916001,208,208,208
4,PR,CURITIBA,1963726,219,219,219
5,RJ,RIO DE JANEIRO,6775561,749,749,749
6,RN,NATAL,803739,74,74,74
7,RO,PORTO VELHO,548952,74,74,74
8,RS,PORTO ALEGRE,1492530,131,131,131
9,SP,CAMPINAS,1223237,102,102,102
10,SP,INDAIATUBA,260690,71,71,71
11,SP,SANTOS,433991,72,72,72
12,SP,SAO PAULO,12396372,841,841,841
13,SP,SAO VICENTE,370839,40,40,40
14,TO,PALMAS,313349,52,52,52

In [51]:

#Agrupar e contar quantos postos tem na cidade..
postos_por_munip_df = merge_df.groupby(by=['Estado - Sigla', 'Municipio', 'NumHabitantes2021']).count()
postos_por_munip_df.reset_index(inplace=True)
#display(postos_por_municipio_df.info())
postos_por_munip_df.drop('CNPJ da Revenda', axis=1, inplace=True)
postos_por_munip_df.rename(columns={"Revenda": "NumPostos"}, inplace=True)

postos_por_munip_df['PostosPorHabitante'] = postos_por_munip_df['NumPostos'] / postos_por_municipio_df['NumHabitantes2021']
display(postos_por_munip_df.info())
display(postos_por_munip_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Estado - Sigla           15 non-null     object
 1   Municipio                15 non-null     object
 2   NumHabitantes2021        15 non-null     int64
 3   NumPostos                15 non-null     int64
 4   Obs                      15 non-null     int64
 5   Valor de Venda - Status  15 non-null     int64
 6   PostosPorHabitante       15 non-null     float64
dtypes: float64(1), int64(4), object(2)
memory usage: 968.0+ bytes

None

,Estado - Sigla,Municipio,NumHabitantes2021,NumPostos,Obs,Valor de Venda - Status,PostosPorHabitante
0,AC,RIO BRANCO,419452,68,68,68,0.000162
1,GO,GOIANIA,1555626,186,186,186,0.000120
2,MG,BELO HORIZONTE,2530701,108,108,108,0.000043
3,MS,CAMPO GRANDE,916001,208,208,208,0.000227
4,PR,CURITIBA,1963726,219,219,219,0.000112
5,RJ,RIO DE JANEIRO,6775561,749,749,749,0.000111
6,RN,NATAL,803739,74,74,74,0.000092
7,RO,PORTO VELHO,548952,74,74,74,0.000135
8,RS,PORTO ALEGRE,1492530,131,131,131,0.000088
9,SP,CAMPINAS,1223237,102,102,102,0.000083
10,SP,INDAIATUBA,260690,71,71,71,0.000272
11,SP,SANTOS,433991,72,72,72,0.000166
12,SP,SAO PAULO,12396372,841,841,841,0.000068
13,SP,SAO VICENTE,370839,40,40,40,0.000108
14,TO,PALMAS,313349,52,52,52,0.000166